.content-message{"data-message-id": message.id}
  %span.content-message__text
    = message.body
  %span.content-message__time-stamp
    = message.created_at.to_s(:time_stamp)
  = image_tag message.image.thumb if message.image.present?
  %span.content-message__user-name
    = message.user.name
