      <div class="main-message__content-message">
        <span class="main-message__content-message__user-name">
          yuta
        </span>
        <span class="main-message__content-message__time-stamp">
          2018/1/31 13:49:02
        </span>
        <span class="main-message__content-message__text">
          てすとてすと
        </span>
      </div>
