<div class="flash-message">
  <span class="message">
    チャットグループが作成されました。
  </span>
</div>

<div class="chat">
  <div class="chat-side">
    <div class="side-user">
      <span class="side-user__user-name">yuta</span>
      <a class="side-user__create-icon" href="#"><i class="fa fa-pencil fa-write" aria-hidden="true"></i>
      <a class="side-user__setting-icon" href="#"><i class="fa fa-cog fa-setting" aria-hidden="true"></i>
    </div>
    <div class="side-group">
      <div class="side-group__group-info">
        <span class="side-group__group-info__group-name">yuta</span>
        <span class="side-group__group-info__group-message">メッセージはまだありません</span>
      </div>
      <div class="side-group__group-info">
        <span class="side-group__group-info__group-name">yuta2</span>
        <span class="side-group__group-info__group-message">メッセージはまだありません</span>
      </div>
    </div>
  </div>
  <div class="chat-main">
    <div class="main-group">
      <span class="main-group__group-name">
        testroom
      </span>
      <span class="main-group__edit-button">
        Edit
      </span>
      <span class="main-group__group-members">
        Members:yuta
      </span>
    </div>
    <div class="main-message">
      <div class="main-message__content-message">
        <span class="main-message__content-message__user-name">
          yuta
        </span>
        <span class="main-message__content-message__time-stamp">
          2018/1/31 13:49:02
        </span>
        <span class="main-message__content-message__text">
          てすとてすと
        </span>
      </div>
            <div class="main-message__content-message">
        <span class="main-message__content-message__user-name">
          yuta2
        </span>
        <span class="main-message__content-message__time-stamp">
          2018/1/31 13:49:03
        </span>
        <span class="main-message__content-message__text">
          てすとてすと2
        </span>
      </div>
    </div>
    <div class="main-form">form</div>
  </div>
</div>
