<div class="flash-message">
  <span class="message">
    チャットグループが作成されました。
  </span>
</div>

<div class="chat">
  <div class="chat-side">
    <div class="side-user">
      <span class="user-name">yuta</span>
    </div>
    <div class="side-group">
      <div class="group-info">
        <span class="group-name">yuta</span>
        <span class="group-message">メッセージはまだありません</span>
      </div>
      <div class="group-info">
        <span class="group-name">yuta2</span>
        <span class="group-message">メッセージはまだありません</span>
      </div>
    </div>
  </div>
  <div class="chat-main">
    <div class="main-group"></div>
    <div class="main-message"></div>
  </div>
</div>
