.chat
  .chat-side
    .side-header
      %span.side-header__user-name
        = current_user.name
      %a.side-header__new-icon
        = link_to new_group_path do
          %i.fa.fa-pencil.fa-write{"aria-hidden": "true"}
      %a.side-header__setting-icon
        = link_to edit_user_registration_path do
          %i.fa.fa-cog.fa-setting{"aria-hidden": "true"}
    .side-contents
      = render partial: 'shared/group'
