@import "variable";

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.flash-message-success {
  background-color: $light-blue-color;
  width: 100%;
  height: 30px;
  color: $white-color;
  text-align: center;
  line-height: 30px;
  top:0;
}

.flash-message-alert {
  background-color: $alert-red;
  width: 100%;
  height: 30px;
  color: $white-color;
  text-align: center;
  line-height: 30px;
}

.chat {
  width: 100%;
  height: 100%;
  .chat-side {
    width: 300px;
    height: 100%;
    position: fixed;
    .side-header {
      width: 300px;
      height: 100px;
      background-color: #253141;
      text-align: right;
      line-height:100px;
      &__user-name {
        font-weight: bold;
        font-size: 16px;
        color: $white-color;
        margin-left: 20px;
        float: left;
      }
      .fa {
        color: $white-color;
        clear: left;
      }
      .fa-setting {
        margin-right: 20px;
      }
    }
    .side-contents {
      width: 300px;
      height: calc(100% - 100px);
      background-color: #2f3e51;
      .group-info {
        width: 300px;
        height: 91px;
        span {
          margin-left: 20px;
          color: $white-color;
          display: block;
        }
        &__name {
          font-size: 15px;
          padding-top: 20px;
        }
        &__notice {
          font-size: 11px;
          margin-top: 5px;
        }

      }
    }
  }
  .chat-contents {
    width: calc(100% - 300px);
    height: 100%;
    float: right;
    position: relative;
    background-color: #AAAAAA;
    .contents-header {
      width: calc(100% - 300px);
      height: 100px;
      background-color: $white-color;
      position: fixed;
      border-bottom: solid $light-gray;
      z-index: 1;
      span {
        display: block;
      }
      &__group-name {
        margin-left: 40px;
        padding-top: 35px;
        color: #333333;
        font-size: 20px;
        float: left;
      }
      &__edit-button {
        height: 40px;
        float: right;
        margin-top: 28px;
        margin-right: 40px;
        padding-left: 20px;
        padding-right: 20px;
        border: solid $light-blue-color;
        line-height: 40px;
        font-size: 20px;

        a {
          color: $light-blue-color;
          text-decoration: none;
        }
      }
      &__group-members {
        margin-left: 40px;
        margin-top: 15px;
        color: $thin-gray-color;
        font-size: 12px;
        clear: both;
        ul {
          float: left;
        }
        li {
          float: left;
        }
      }
    }
    .contents-main {
      width: 100%;
      overflow: scroll;
      background-color: #AAAAAA;
      position: absolute;
      top: 101px;
      bottom: 90px;
      .content-message {
        width: 100%;
        // height: 114px;
        &__text {
          color: $navy-color;
          font-size: 16px;
          font-weight: bold;
          margin-top: 46px;
          margin-left: 40px;
          float: left;
          display: inline-block;
        }
        &__time-stamp {
          color: $thin-gray-color;
          font-size: 12px;
          margin-top: 46px;
          margin-left: 10px;
          display: inline-block;
        }
        &__user-name {
          color: $navy-color;
          font-size: 14px;
          margin-left: 40px;
          display: block;
          clear: both;
        }
        img {
          margin-left: 40px;
          width: 80px;
          height: 80px;
          clear: both;
          display: block;
        }
      }
    }
    .contents-footer {
      width: 100%;
      height: 90px;
      background-color: $light-gray;
      position: fixed;
      top: calc(100% - 90px);
      .message-form {
        height: 50px;
        width: calc(100% - 480px);
        margin-top: 20px;
        margin-bottom: 20px;
        margin-right: 15px;
        margin-left: 40px;
        float: left;
        position: relative;
        &__text {
          width: 100%;
          height: 50px;
          color: $navy-color;
          font-size: 16px;
          float: left;
          padding-left: 10px;
        }
        label {
          position: absolute;
          width: 50px;
          height: 50px;
          margin-left: -50px;
          margin-right: 10px;
          line-height: 66px;
        }
        &__submit-button {
          position: absolute;
          border: none;
          cursor: pointer;
          outline: none;
          background-color: $light-blue-color;
          height: 50px;
          margin-left: 15px;
          color: $white-color;
          line-height: 50px;
          float: right;
          padding-left: 20px;
          padding-right: 20px;
          font-size: 16px;
        }
      }
    }
  }
}
